/* .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

/*.row {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.col-1-4 {
  display: flex;
  justify-content: center;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 0 10px;
}*/

h1, 
h2, 
h3 {
  font-family: 'Vina Sans', sans-serif;
}

.text, table, ol, ul, a {
  font-family: 'Nova Square', sans-serif;
}

div:nth-child(4) {
  background-color: lightyellow;
}

div:nth-child(5) {
  background-color: pink;
}

div:nth-child(6) {
  background-color: lightgreen;
}

div:nth-child(7) {
  background-color: lightblue;
}

.heading {
  display: flex;
  justify-content: center;
  width: 20%;
  border: 1px;
  border-style: solid;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: auto;
  padding: 10px;
}

.heading {
  margin: 0;
}

.text-heading {
  background-color: #FFD700;
}

.list-heading {
  background-color: #BA55D3; 
} 

.table-heading {
  background-color: #9ACD32; /* 00008b(1)  abo 800080(3)  ff8c00(2)*  abo 8b0000(4)*/
}

.image-heading {
  background-color: #4682B4;  
}

@media (min-width: 992px) {
}

@media (min-width: 768px) and (max-width: 992px) {
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
  }
}
